.list {
  display: flex;
  gap: 0.5rem;
  list-style: none;

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}

.button {
  display: block;
  width: 32px;
  padding: 0;
  background: none;

  img {
    display: block;
  }
}
